/* styles.css */
header {
  background-color: #4CAF50;
  color: white;
  padding: 15px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px; /* Ajusta el tamaño del logo */
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.welcome span {
  font-size: 1.2rem;
  font-weight: 500;
}

.logout-btn {
  background-color: #e74c3c;
  border: none;
  padding: 8px 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}
